node_modules
dist
coverage
.git
.gitignore
.env
.env.example
.env.docker
logs
*.md
!README.md
.DS_Store
.vscode
.idea
*.log
tests
vitest.config.ts
eslint.config.mjs
.prettierrc
.prettierignore
tsconfig.eslint.json
